/.venv
grafana/plugins
*.env*
.aws
.env-dedicated
.env-serverless

.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
logs/
mage-ai.db
mage_data/
secrets/
